<section class="container container-tech">
<div class="col-md-12">

    <h1>Technologies</h1>
    
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
             <img class="img-thumb" src="./web-dist/images/JS.png">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
             <img class="img-thumb" src="./web-dist/images/php.png">  
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
             <img class="img-thumb" src="./web-dist/images/csharp.jpg">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
             <img class="img-thumb" src="./web-dist/images/java.png">
        </div>
    </div>     

</div>          
</section>
<section class="container container-about">
    <div class="row">                               
        <div class="col-md-12">
            <h1>About</h1>
            </div>

        <div class="col-sm-12 col-md-6">
            <p>
                Finnishing up undergrad degree in Information Technologies at The Higher Education Technical School of Professional Studies in Novi Sad, currently working at Prognosis in Novi Sad.
            </p>
        </div>
    </div>
</section>